@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    margin-top: -40%;
    margin-bottom: 10%;
    font-size: 8em;
    width: 100%;
    font-family: 'Ranchers', cursive;
}

#canvas {
    border: 3px solid blue;
    position: absolute;
    /* top: 1%;
    left: 10%; */
    height: 800px;
    width: 1000px;
}

.level-selection {
    width: 100%;
    display: flex;
    /* margin-top: 40vh; */
    justify-content: center;
}

.level {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;
    font-size: 2em;
    color: #ffc600;
    border: 4px solid white;
    background-color: #364182;
}

.level:hover {
    cursor: pointer;
}

#reload {
    background-color: red;
    position: absolute;
    z-index: 2;
    display: none;
    /* top: 50vh;
    left: 50vw; */
    width: 40vw;
    height: 40vh;
}

#game-over {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#game-over > h1 {
    color: white;
    font-size: 6em;
    font-family: 'Ranchers', cursive;
}

#game-over > button {
    width: 150px;
}
