body {
    background-color: #ffc600;
}

#canvas {
    /* background-color: #364182; */
    border: 3px solid blue;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    height: 800px;
    width: 1000px;
}